.header {
    display: flex;
    flex: 1;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #4A90E2;
    color: #FFFFFF;
    height: 70px;
    
}

image {
    width: 121px;
    height: 24px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile span {
    margin: 5px;
    font-size: 15pt;
}

.profile .personIcon {
    margin: 5px;
}

.profile span:hover {
    opacity: 0.5;
    transition: 0.5s;
}